/* src/App.css */
@keyframes rainbowText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow-text {
  background-size: 200% 200%; /* Añade esta línea */
  animation: rainbowText 5s linear infinite;
}
